.error{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 50%;
    border: 2px solid rgb(219, 240, 100);
    border-radius: 15px;
    background-color: rgb(219, 240, 100);
}
.back{
    position: absolute;
    left: 37%;
    top: 75%; 
    outline: none;
    padding: 5px 60px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    font-family: $font-family;
    cursor: pointer;
    text-decoration: none;
}
.back:hover{
    background-color: #ffffff;
    color: #000000;
}