$liHover:  rgb(95, 78, 247);
$textColors: #ffffff;
$font-family: "Nunito", sans-serif;
.log-in {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-family;
  h2 {
    float: left;
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid $textColors;
    margin-bottom: 25px;
    padding: 13px 0;
    color: $textColors;
  }
  .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid $textColors;
    i{
      position: relative;
      top: 25px;
      left: 5px;
      font-size: large;
      color: $textColors;
    }
    input {
      border: none;
      outline: none;
      background: none;
      color: $textColors;
      width: 100%;
      float: left;
      margin-left: 35px;
      font-size: 0.9em;
      font-family: $font-family;
    }
  }
  .btn {
    width: 100%;
    background: none;
    border: 2px solid $textColors;
    color: $textColors;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    font-family: $font-family;
  }
}
.Auth{
  border: none;
  background: none;
  outline: none;
  color: $nav;
  padding: 10px 35px;
  font-family: $font-nav;
  text-decoration: none;
  border: 1px solid $nav;
  margin: 15px;
}

.Auth:hover {
  border: 1px solid $liHover;
  color: $liHover;
  transition: 0.6s;
}
.authent{
  position: absolute;
  left: 37.5%;
  top: 28%;
  border-bottom: 2px solid #ffffff;
  padding: 2px;
  color: #ffffff;
  font-family: $font-family;
}